<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Calcule Sua Obra</title>
    <link href="style.css" rel="stylesheet" />
</head>

<body>
    <header>
        <a href="calculadora.png"><img src="calculadora.png" alt="logo" class="Logo"></a>
        <nav class="navegation">
            <ul>
                <li><a href="/">Piso</a></li>
                <li><a href="/">Tijolos</a></li>
                <li><a href="/">Tinta</a></li>
                <li><a href="/">Sing up</a></li>
            </ul>
        </nav>
    </header>
    <main>

    </main>
    <footer>

    </footer>
</body>
</html>
